/GdP23/Aufgaben
/GdP23/bin
/GdP23/obj

bin/
obj/
.idea/
.cache/

# GdP23 generated artifacts
/GdP23/.cache/
/GdP23/.workspaces/
/GdP23/bin/
/GdP23/obj/
/GdP23/Smoke/
/GdP23/DockerResults/**
!/GdP23/DockerResults/
!/GdP23/DockerResults/selected-comparisons.csv
!/GdP23/DockerResults/comparisons.jsonl
